
<style type="text/css">

a {
	font-size: x-large;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	color: #C0392B;
}
a:hover {
	font-size: x-large;
	font-family: "Comic Sans MS";
	color: #C0C0C0;
}
.auto-style1 {
	text-align: center;
	font-size: xx-large;
	background-color: #2874A6;
}
.auto-style4 {
	text-align: center;
	font-size: x-large;
	background-color: #2874A6;
}
.auto-style5 {
	border: 6px solid #A93226;
}
.auto-style6 {
	border-width: 0px;
	margin-top: 0px;
}
.auto-style7 {
	border-width: 0px;
}
.auto-style8 {
	text-align: center;
	color: #A93226;
}
</style>




<h1 class="auto-style8">TERM PROJECT </h1>
<table cellspacing="1" style="width: 50%; height: 50%" align="center" class="auto-style5">
	<tr>
		<td style="width: 270px; height: 20px">
		<a href="http://www.laliga.es/en">
		<img alt="La Liga" height="200" src="http://a2.espncdn.com/combiner/i?img=%2Fi%2Fleaguelogos%2Fsoccer%2F500%2F15.png" width="200" class="auto-style6" /></a></td>
		<td class="auto-style1" style="width: 270px; height: 20px">SOCCER!!!</td>
		<td style="height: 20px; width: 270px;">
		<a href="https://www.premierleague.com/">
		<img alt="BPL" height="200" src="http://a1.espncdn.com/combiner/i?img=%2Fi%2Fleaguelogos%2Fsoccer%2F500%2F23.png"
	</tr>
	<tr>
		<td style="width: 270px; height: 20px" class="auto-style4">
		<a href="http://et710.com/s2017/index.html">HOME</a></td>
		<td style="width: 270px; height: 20px">
		<a href="https://www.bundesliga.com/en/">
		<img alt="Bundesliga" height="200" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Bundesliga_logo_%282017%29.svg/1200px-Bundesliga_logo_%282017%29.svg.png" width="200" class="auto-style7" /></a></td>
		<td style="height: 20px; width: 270px;" class="auto-style4">
		<a href="http://et710.com/s2017/et710a/termproject/kevin/site.html">MY ET710 WEBSITE!!!</a></td>
	</tr>
	<tr>
		<td style="height: 20px; width: 270px">
		<a href="https://www.mlssoccer.com/">
		<img alt="Major league Soccer" height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/MLS_logo.svg/1200px-MLS_logo.svg.png" width="200" class="auto-style7" /></a></td>
		<td style="width: 270px; height: 20px" class="auto-style4">
		<a href="http://localhost:3000/favorites">Favorite Soccer Players</a></td>
		<td style="height: 20px; width: 270px;">
		<a href="http://www.ligue1.com/">
		<img alt="Ligue 1" height="200" src="https://vignette.wikia.nocookie.net/logopedia/images/f/fa/Ligue_1_logo.svg/revision/latest?cb=20130823091957" width="200" class="auto-style7" /></a></td>
	</tr>
</table>
